
projects/boston_housing/.ipynb_checkpoints/boston_housing-checkpoint.ipynb
projects/.DS_Store
.DS_Store
projects/boston_housing.zip
projects/boston_housing/.ipynb_checkpoints/boston_housing_PT-checkpoint.ipynb
projects/boston_housing/visuals.pyc
projects/finding_donors/finding_donors.ipynb
projects/smartcab.zip
projects/smartcab/project_description.md
projects/smartcab/README.md
projects/student_intervention.zip
